<!-- Pricing Section -->
<section id="pricing" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pricing</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
        </div>

        <div class="row">
            {% for plan in site.pricing %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-plan">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                <span class="price">
                                    {{ plan.price }}
                                </span>
                                <span class="duration">
                                    {{ plan.duration }}
                                </span>
                            </div>
                            <div class="plan-name">
                                {{ plan.name }}
                            </div>
                        </li>
                        <li><strong>{{ plan.domains }}</strong> DOMAIN</li>
                        <li><strong>{{ plan.disk_space }}</strong> DISK SPACE</li>
                        <li><strong>{{ plan.bandwidth }}</strong> BANDWIDTH</li>
                        <li>{{ plan.ssl_certificate }}</li>
                        <li><strong>{{ plan.email_addresses }}</strong> EMAIL ADDRESSES</li>
                        <li><strong>{{ plan.support }}</strong> SUPPORT</li>
                        <li class="plan-purchase">
                            <a class="btn btn-primary" href="{{ plan.link }}">Get It Now!</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
